body {
    font-family: Arial, sans-serif ;
    background-color: #6a8a7e;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    color: #130707;
}
h2 {
    color: #d35d5d;
}

p {
    margin: 15px;
    padding: 20px;
    background-color: #b8a5a5;
    border: 1px solid #945959;
    border-radius: 5px;
}
ul, ol {
    margin: 15px;
    padding: 15px;
    background-color: #ccaeae;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
li {
    margin: 5px 5px;
}
footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #ac8787;
    color: #b39f9f;
}